{% extends 'pipe/pipe-gofuture/gofuture_base.html' %}

{% block head %}
    <script>
        window.addEventListener("load", function(event)
        {
            const details1 = '{{session.get('opened_details1', 'brak')}}';
            const details2 = '{{session.get('opened_details2', 'brak')}}';
            console.log(details1);
            console.log(details2);
            var details_one = document.getElementsByClassName(details1)
            var details_two = document.getElementsByClassName(details2)
            console.log(details_one[0])
            console.log(details_two[0])
            details_one[0].open = true
            details_two[0].open = true

        });
    </script>
    <title>wstawki</title>
{% endblock %}
<body>
{% block body %}
    {% for type in kolory_proby %}
        {% set position_of_space = type.index(" ") %}
        {% set position_of_greater = type.index(">") %}
        {% set type_gold = type[:position_of_space] %}
        {% set type_arkusz = type[position_of_space + 1:position_of_greater-1] %}
        {% set date = type[position_of_greater + 1:] %}

        <details class="{{ date }}_{{ type_gold }}_{{ type_arkusz }}">
        <summary style="background:{{ date }}; "> {{ type_gold }} {{ type_arkusz }} </summary>
        {% for x in dict_with_pipes[type] %}
            {% set x = x[0] %}
            <details class="{{ date }}_{{ type_gold }}_{{ type_arkusz }}_{{ x }}">
            <summary style="background:{{ date }}; "> {{ x }} </summary>
                {% for order in orders_ring_sr %}
                    {% if order.gold_color_type==type_gold and order.type==type_arkusz and order.pipe==x %}
                    <a href="#{{ order.id }}"> {{ order.order_id }} |{{ order.r51 }}| </a>

                        <form method="POST" action="" >

                            <div id="{{ order.id }}" class="OrderCodeWindow">
                                <div> <a href="#close" title="Close" class="close">X</a>
                                    <a href="/gofuture/color-width-orders/clicked_done/{{ order.id }}"><input name="{{ order.id }}" class="done" type="submit"></a>
                                    <div>
                                        <h4> {{ order.order_id }} </h4>
                                        <p>
                                            {{ order.code|safe }}
                                        </p>
                                        <p>
                                            parametry: r50: {{ order.r50 }} |
                                            r51: {{ order.r51 }} |
                                            r52: {{ order.r52 }} |
                                            r60: {{ order.r60 }} |
                                            r40: {{ order.r40 }} |
                                            r61: {{ order.r61 }} |
                                            r41: {{ order.r41 }} |
                                            r20: {{ order.r20 }} |
                                            p1: {{ order.p1 }} |
                                            p2: {{ order.p2 }} |
                                            p3: {{ order.p3 }} |
                                            p5: {{ order.p5 }} |
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </form>
{#                        {{ order.code|safe }}#}
                    {% endif %}
                {% endfor %}
            </details>
        {% endfor %}
{#            {% for order in orders_ring_sr %}#}
{#        {% set position_of_space = type.index(" ") %}#}
{#        {% set position_of_greater = type.index(">") %}#}
{#        {% set type_gold = type[:position_of_space] %}#}
{#        {% set type_arkusz = type[position_of_space + 1:position_of_greater-1] %}#}
{#        {% set date = type[position_of_greater + 1:] %}#}
{#        {% if order.gold_color_type == type_gold and order.type == type_arkusz and order.date == date %}#}
{#            <a href="#">{{ order.order_id }}</a>#}
{#        {% endif %}#}
{#    {% endfor %}#}
    </details>
    {% endfor %}


{% endblock %}
</body>
</html>