{% extends 'tools/tools-base.html' %}

    {% block head %}
    <title>Wyslij narzedzia do ostrzenia</title>
    {% endblock %}

{% block body %}
<style>
    table, th, td {
        border:1px solid black;
        width: auto;
        color: black;
    }
    table {
    width: 100%;
    }
        tr:hover {
        background-color: lightgoldenrodyellow;
    }
            .reason {
        font-size: large;
        padding: 20px;
                width: auto;
    }
</style>
    <table>
    <tr>
        <th><input onclick=toggle(this); type="checkbox" id="checkbox-all"></th>
        <th>id</th>
        <th>nazwa</th>
        <th>opis</th>
        <th>szerokosc</th>
        <th>kat</th>
        <th>promien</th>
        <th>producent</th>
        <th>stanowisko</th>
        <th>szuflada</th>
    </tr>
<form action="" method="post" >
{% for tool in tools %}
    <tr class="tool" >
        <td><input type="checkbox" class="tool-checkbox" value="{{ tool.id }}" name="tool"></td>
        <td>{{ tool.id }}</td>
        <td><a href="/tools/{{ tool.id }}">{{ tool.name }}</a></td>
        <td>{{ tool.description }}</td>
        <td>{{ tool.width }}</td>
        <td>{{ tool.angle }}</td>
        <td>{{ tool.radius }}</td>
        <td>{{ tool.company }}</td>
        {% for position in positions %}
            {% if position.id == tool.id_position %}
                {% set place = position.pretty_name %}
                <td>{{ place }}</td>
            {% endif %}
        {% endfor %}
        <td>{{ tool.shelf }}</td>
    </tr>
{% endfor %}

        <input class="reason" name="sharp-company" placeholder="podaj firme wysyłki" type="text" required>
        <input type="submit" value="wyslij do ostrzenia">
    </form>
    </table>

    <script>
function toggle(source) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i] !== source)
            checkboxes[i].checked = source.checked;
    }
}
    </script>

{% endblock %}
