{% extends 'tools/tools-base.html' %}

    {% block head %}
    <title>Zamówione</title>
    {% endblock %}

{% block body %}
<style>
    table, th, td {
        border:1px solid black;
        width: auto;
        color: black;
    }
    table {
    width: 100%;
        margin-bottom: 20px;
    }
        tr:hover {
        background-color: lightgoldenrodyellow;
    }

        .button {

        }

        /* Hide the modal popup by default */
.modal {
  padding-top: 5%;
  color: black;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

/* Style the modal content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
height: 80%;
    border-radius: 1rem;
}

/* Style the close button */
.close {
    position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* Display the modal popup when the button is clicked */
.show {
  display: block;
}

.form {
}

.form-input {
    margin: 2rem;
}

.form-input > label {
    margin-right: 20px;
}

.form-submit:focus {

}

.td-full {
    background-color: red;
}

.td-mag {
    background-color: green;
}

.td-edit {
    background-color: darkorchid;
}

.link {
    margin-left: 8px;
    color: white;
    text-decoration: none;
}

.input-table {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: block;
}

.link-submit {
    width: 100%;
    height: 100%;
    color: black;
}
</style>


    <table>
    <tr>
        <th>nazwa</th>
        <th>nr</th>
        <th>szer</th>
        <th>kąt</th>
        <th>promien</th>
        <th>producent</th>
        <th>ilosc</th>
        <th>zamowiono</th>
        <th>dostawa</th>
        <th>zamówił</th>
        <th>kontakt</th>
        <th>edit</th>
        <th>mag</th>
        <th>usuń</th>
    </tr>

{% for tool in tools %}
    <tr class="tool" >
    <form method="post" action="edit/{{ tool.id }}">
        <td>{{ tool.name }}<input disabled name="name" class="input-table" id="name1" type="text" value="{{ tool.name }}"><button class="edit-button" id="edit-name">edit</button></td>
        <td>{{ tool.nr }}<input disabled name="id" class="input-table" id="id1" type="text" value="{{ tool.nr }}"><button class="edit-button" id="edit-id">edit</button></td>
        <td>{{ tool.width }}<input disabled name="width" class="input-table" id="width1" type="text" value="{{ tool.width }}"><button class="edit-button" id="edit-width">edit</button></td>
        <td>{{ tool.angle }}<input disabled name="angle" class="input-table" id="angle1" type="text" value="{{ tool.angle }}"><button class="edit-button" id="edit-angle">edit</button></td>
        <td>{{ tool.radius }}<input disabled name="radius" class="input-table" id="radius1" type="text" value="{{ tool.radius }}"><button class="edit-button" id="edit-radius">edit</button></td>
        <td>{{ tool.company }}<input disabled name="producer" class="input-table" id="producer1" type="text" value="{{ tool.company }}"><button class="edit-button" id="edit-producer">edit</button></td>
        <td>{{ tool.quantity }}<input disabled name="quantity" class="input-table" id="quantity1" type="number" value="{{ tool.quantity }}"><button class="edit-button" id="edit-quantity">edit</button></td>
        <td>{{ tool.ordered }}<input disabled name="order-date" class="input-table" id="order-date1" type="date" value="{{ tool.ordered }}"><button class="edit-button" id="edit-order-date">edit</button></td>
        <td>{{ tool.arrival }}<input disabled name="arrive-date" class="input-table" id="arrive-date1" type="date" value="{{ tool.arrival }}"><button class="edit-button" id="edit-arrive-date">edit</button></td>
        <td>{{ tool.who }}<input disabled name="customer" class="input-table" id="customer1" type="text" value="{{ tool.who }}"><button class="edit-button" id="edit-customer">edit</button></td>
        <td>{{ tool.contact }}<input disabled name="contact" class="input-table" id="contact1" type="text" value="{{ tool.contact }}"><button class="edit-button" id="edit-contact">edit</button></td>
        <td class="td-edit"><input value="edytuj" class="link-submit" type="submit""></td>
        </form>
        <td class="td-mag"><a class="link" href="dodaj/{{ tool.id }}">-></a></td>
        <td class="td-full"><a class="link" href="usun/{{ tool.id }}">X</a></td>
    </tr>
{% endfor %}

    </table>

{#        <input type="submit" onclick="valthis()" value="przenies na magazyn">#}


    <button id="myBtn"> Dodaj zamównienie</button>


<div class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>

      <h1>Formularz dodawania zamówienia</h1>
        <div class="form">
          <form method="post">  <!-- zaladuj link bez odswiezania -->
            <div class="form-input">
            <label for="name">Nazwa</label>
            <input required type="text" name="name" id="name">
            </div>

              <div class="form-input">
              <label for="id">nr katalogowy/id</label>
            <input required type="text" name="id" id="id">
            </div>

          <div class="form-input">
            <label for="width">Szerokość narzędzia</label>
            <input required type="text" name="width" id="width">
            </div>

          <div class="form-input">
            <label for="angle">Kąt</label>
            <input required type="text" name="angle" id="angle">
            </div>

          <div class="form-input">
            <label for="radius">Promień narzędzia</label>
            <input required type="text" name="radius" id="radius">
            </div>

              <div class="form-input">
              <label for="producer">producent</label>
            <input required type="text" name="producer" id="producer">
            </div>

          <div class="form-input">
            <label for="quantity">Ilość</label>
            <input required type="number" name="quantity" id="quantity">
            </div>

              <div class="form-input">
              <label for="order-date">Data zamówienia</label>
            <input required type="date" name="order-date" id="order-date">
                </div>


              <div class="form-input">
              <label for="arrive-date">Planowana data dostawy</label>
            <input required type="date" name="arrive-date" id="arrive-date">
            </div>

                  <div class="form-input">
              <label for="customer">Zamawiający</label>
            <input required type="text" name="customer" id="customer">
                </div>

                <div class="form-input">
              <label for="contact">Osoba do kontaktu</label>
            <input required type="text" name="contact" id="contact">
                </div>

              <input type="submit" value="dodaj" class="form-submit">

          </form>
    </div>
  </div>
</div>

    


    <script>
    const editButtonName = document.getElementById('edit-name')
    const editButtonId = document.getElementById('edit-id')
    const editButtonWidth = document.getElementById('edit-width')
    const editButtonAngle = document.getElementById('edit-angle')
    const editButtonRadius = document.getElementById('edit-radius')
    const editButtonProducer = document.getElementById('edit-producer')
    const editButtonQuantity = document.getElementById('edit-quantity')
    const editButtonOrderDate = document.getElementById('edit-order-date')
    const editButtonArriveDate = document.getElementById('edit-arrive-date')
    const editButtonCustomer = document.getElementById('edit-customer')
    const editButtonContact = document.getElementById('edit-contact')
    const inputName = document.getElementById('name1')
    const inputId =  document.getElementById('id1')
    const inputWidth =  document.getElementById('width1')
    const inputAngle =  document.getElementById('angle1')
    const inputRadius =  document.getElementById('radius1')
    const inputProducer =  document.getElementById('producer1')
    const inputQuantity =  document.getElementById('quantity1')
    const inputOrderDate = document.getElementById('order-date1')
    const inputArriveDate =  document.getElementById('arrive-date1')
    const inputCustomer =  document.getElementById('customer1')
    const inputContact =  document.getElementById('contact1')



// Get the button element
const btn = document.getElementById("myBtn");

// Get the modal popup element
const modal = document.querySelector(".modal");

// Get the close button element
const closeBtn = document.querySelector(".close");

// When the user clicks on the button, display the modal popup
btn.onclick = function() {
  modal.classList.add("show");
}

// When the user clicks on the close button, hide the modal popup
closeBtn.onclick = function() {
  modal.classList.remove("show");
}

// When the user clicks anywhere outside of the modal popup, hide it
window.onclick = function(event) {
  if (event.target === modal) {
    modal.classList.remove("show");
  }
}



    function liveSearch() {
  // Locate the card elements
  let cards = document.getElementsByClassName('tool')
  // Locate the search input
  let search_query = document.getElementById("searchbox").value;
  console.log(cards)
  // Loop through the cards
  for (var i = 0; i < cards.length; i++) {
    // If the text is within the card...
    if(cards[i].innerText.toLowerCase()
      // ...and the text matches the search query...
      .includes(search_query.toLowerCase())) {
        // ...remove the `.is-hidden` class.
        cards[i].setAttribute('style', 'visibility: visible');
    } else {
      // Otherwise, add the class.
      cards[i].setAttribute('style', 'visibility: collapse');
    }
  }
}

function valthis() {
    var checkBoxes = document.getElementsByClassName('tool');
    var isChecked = false;
    console.log(checkBoxes)
    for (var i = 0; i < checkBoxes.length; i++) {
        if (checkBoxes[i].checked) {
            isChecked = true;
        };
    };
    if (isChecked) {
    } else {
        event.preventDefault()
        alert('Proszę zaznaczyć co najmniej jedno narzędzie do przekazania!');
    }
}


    editButtonName.addEventListener('click', () => {
        inputName.disabled = false
        editButtonName.disabled = true
    })

    editButtonId.addEventListener('click', () => {
        inputId.disabled = false
        editButtonId.disabled = true
    })

    editButtonWidth.addEventListener('click', () => {
        inputWidth.disabled = false
        editButtonWidth.disabled = true
    })

    editButtonAngle.addEventListener('click', () => {
        inputAngle.disabled = false
        editButtonAngle.disabled = true
    })

    editButtonRadius.addEventListener('click', () => {
        inputRadius.disabled = false
        editButtonRadius.disabled = true
    })

    editButtonProducer.addEventListener('click', () => {
        inputProducer.disabled = false
        editButtonProducer.disabled = true
    })

    editButtonQuantity.addEventListener('click', () => {
        inputQuantity.disabled = false
        editButtonQuantity.disabled = true
    })

    editButtonOrderDate.addEventListener('click', () => {
        inputOrderDate.disabled = false
        editButtonOrderDate.disabled = true
    })

    editButtonArriveDate.addEventListener('click', () => {
        inputArriveDate.disabled = false
        editButtonArriveDate.disabled = true
    })

    editButtonCustomer.addEventListener('click', () => {
        inputCustomer.disabled = false
        editButtonCustomer.disabled = true
    })

    editButtonContact.addEventListener('click', () => {
        inputContact.disabled = false
        editButtonContact.disabled = true
    })


    </script>

{% endblock %}
