{% extends 'gofuture_base.html' %}

{% block head %}
    <title>u kierownika</title>
{% endblock %}
<body>
{% block body %}

    {% for type in kolory_proby %}
        {% set position_of_space = type.index(" ") %}
        {% set position_of_greater = type.index(">") %}
        {% set type_gold = type[:position_of_space] %}
        {% set type_arkusz = type[position_of_space + 1:position_of_greater-1] %}
        {% set date = type[position_of_greater + 1:] %}
        <details>
        <summary style="background:{{ date }}; "> {{ type_gold }} {{ type_arkusz }}
            {{ loop.cycle ( count_list[loop.index0] ) }}
        </summary>
            {% for order in orders_to_describe %}
                {% set position_of_space = type.index(" ") %}
                {% set position_of_greater = type.index(">") %}
                {% set type_gold = type[:position_of_space] %}
                {% set type_arkusz = type[position_of_space + 1:position_of_greater-1] %}
                {% set date = type[position_of_greater + 1:] %}
                {% if order.gold_color_type == type_gold and order.type == type_arkusz and order.date == date %}
                <p>{{ order.order_id }}</p>
                {% endif %}
            {% endfor %}

        </details>

    {% endfor %}

{% endblock %}

</body>
</html>