{% extends 'gofuture_base.html' %}

{% block head %}
    <title>Wpisywanie jednego zlecenia</title>
{% endblock %}
<body>
{% block body %}

    <div class="form">
        <form action="/gofuture/one-order-scan" method="POST">

            <input type="text" name="order_id" id="content" >
        <input type="submit">

            {% for tuleja in showed_order %}
            <details>
                <summary style="background: {{ tuleja[6] }};">{{ tuleja[1] }} {{ tuleja[3] }} < {{ tuleja[2] }} > < {{ tuleja[-1] }} ></summary>
                <a href="">{{ tuleja[4] }}</a>
            </details>
            {% endfor %}

        </form>
    </div>

{% endblock %}
</body>
</html>
